USE [SCV04]
GO
/****** Object:  Table [dbo].[sysdLog]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdLog](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[cMsgErr] [nvarchar](255) NULL,
	[cCodUsu] [char](4) NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysTab]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysTab](
	[id_tabla] [int] IDENTITY(1,1) NOT NULL,
	[cTabNom] [char](10) NULL,
	[cTabDes] [char](45) NULL,
	[cCodUsu] [char](4) NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[systCod]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systCod](
	[id_cod] [int] IDENTITY(1,1) NOT NULL,
	[cOrden] [char](3) NULL,
	[cTblFld] [char](25) NULL,
	[cTipReg] [char](1) NULL,
	[cCodigo] [char](8) NULL,
	[cDescri] [char](70) NULL,
	[cCodUsu] [char](4) NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCalificaciones]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCalificaciones](
	[id_calificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_evaluacion] [int] NULL,
	[cCAlific] [decimal](18, 0) NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCursos]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCursos](
	[id_curso] [int] IDENTITY(1,1) NOT NULL,
	[CnomCur] [nvarchar](255) NULL,
	[cDescri] [varchar](120) NULL,
	[cEstado] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDepartamentos]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CnomDepa] [varchar](255) NULL,
	[pais_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDistritos]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDistritos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CnomDist] [varchar](255) NULL,
	[provincia_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEvaluaciones]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEvaluaciones](
	[id_evaluacion] [int] IDENTITY(1,1) NOT NULL,
	[cTipEval] [nvarchar](255) NULL,
	[tModifi] [datetime] NULL,
	[id_modulos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedback]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedback](
	[id_feedback] [int] IDENTITY(1,1) NOT NULL,
	[id_respuesta] [int] NULL,
	[cComenta] [text] NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_feedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInscripciones]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInscripciones](
	[id_inscripcion] [int] NOT NULL,
	[id_usuario] [int] NULL,
	[id_curso] [int] NULL,
	[tFechaMod] [datetime] NULL,
	[cEstado] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblModulos]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModulos](
	[modulos_id] [int] IDENTITY(1,1) NOT NULL,
	[curso_id] [nvarchar](255) NULL,
	[cTitulo] [varchar](120) NULL,
	[cDescri] [varchar](120) NULL,
	[tModifi] [datetime] NULL,
	[id_curso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[modulos_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPaises]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cNomPais] [varchar](255) NULL,
	[cZona] [varchar](255) NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProvincias]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProvincias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CnomProv] [varchar](255) NULL,
	[departamento_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRespuestas]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRespuestas](
	[id_respuesta] [int] IDENTITY(1,1) NOT NULL,
	[id_evaluacion] [int] NULL,
	[id_usuario] [int] NULL,
	[cRespuesta] [text] NULL,
	[tFecRes] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_respuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblResultados]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblResultados](
	[id_resultado] [int] IDENTITY(1,1) NOT NULL,
	[id_evaluacion] [int] NULL,
	[id_usuario] [int] NULL,
	[nPuntuacion] [float] NULL,
	[tFecResult] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[cnomRol] [nvarchar](255) NULL,
	[tModifi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsuarios]    Script Date: 9/11/2024 11:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[cCodUsu] [char](4) NULL,
	[cNomUsu] [varchar](80) NULL,
	[cClave] [char](128) NULL,
	[cnudoci] [int] NULL,
	[cEstado] [nvarchar](255) NULL,
	[cNivUsu] [char](1) NULL,
	[tModifi] [datetime] NULL,
	[cMail] [nvarchar](255) NULL,
	[cUser] [nvarchar](255) NULL,
	[cRol] [nvarchar](255) NULL,
	[cIdeUsu] [varchar](32) NULL,
	[id_rol] [int] NULL,
	[id_pais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCursos] ON 

INSERT [dbo].[tblCursos] ([id_curso], [CnomCur], [cDescri], [cEstado]) VALUES (1, N'Inteligencia Artifical', N'Curso basisco de I.A', N'A')
INSERT [dbo].[tblCursos] ([id_curso], [CnomCur], [cDescri], [cEstado]) VALUES (3, N'Aprendizaje automático', N'Curso basisco de aprendizaje automatico', N'A')
SET IDENTITY_INSERT [dbo].[tblCursos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDepartamentos] ON 

INSERT [dbo].[tblDepartamentos] ([id], [CnomDepa], [pais_id]) VALUES (2, N'Arequipa', 1)
INSERT [dbo].[tblDepartamentos] ([id], [CnomDepa], [pais_id]) VALUES (3, N'Amazonas', 1)
INSERT [dbo].[tblDepartamentos] ([id], [CnomDepa], [pais_id]) VALUES (4, N'Áncash', 1)
SET IDENTITY_INSERT [dbo].[tblDepartamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDistritos] ON 

INSERT [dbo].[tblDistritos] ([id], [CnomDist], [provincia_id]) VALUES (1, N'Arequipa', 2)
INSERT [dbo].[tblDistritos] ([id], [CnomDist], [provincia_id]) VALUES (2, N'Arequipa', 2)
INSERT [dbo].[tblDistritos] ([id], [CnomDist], [provincia_id]) VALUES (3, N'Alto Selva Alegre', 2)
SET IDENTITY_INSERT [dbo].[tblDistritos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPaises] ON 

INSERT [dbo].[tblPaises] ([id], [cNomPais], [cZona], [tModifi]) VALUES (1, N'Perú', N'PET (UTC-5)', CAST(N'2024-10-28T13:38:40.600' AS DateTime))
INSERT [dbo].[tblPaises] ([id], [cNomPais], [cZona], [tModifi]) VALUES (2, N'Argentina', N'ART (UTC-3)', CAST(N'2024-10-28T13:39:56.010' AS DateTime))
INSERT [dbo].[tblPaises] ([id], [cNomPais], [cZona], [tModifi]) VALUES (3, N'Bolivia', N'BOT (UTC-4)', CAST(N'2024-10-28T13:41:41.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblPaises] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProvincias] ON 

INSERT [dbo].[tblProvincias] ([id], [CnomProv], [departamento_id]) VALUES (1, N'Arequipa', 2)
INSERT [dbo].[tblProvincias] ([id], [CnomProv], [departamento_id]) VALUES (2, N'Camaná', 2)
INSERT [dbo].[tblProvincias] ([id], [CnomProv], [departamento_id]) VALUES (3, N'Caravelí', 2)
SET IDENTITY_INSERT [dbo].[tblProvincias] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoles] ON 

INSERT [dbo].[tblRoles] ([id_rol], [cnomRol], [tModifi]) VALUES (1, N'Estudiante', CAST(N'2024-10-29T13:14:32.917' AS DateTime))
INSERT [dbo].[tblRoles] ([id_rol], [cnomRol], [tModifi]) VALUES (2, N'Profesor', CAST(N'2024-10-29T13:14:42.703' AS DateTime))
INSERT [dbo].[tblRoles] ([id_rol], [cnomRol], [tModifi]) VALUES (3, N'Administrador', CAST(N'2024-10-29T13:15:04.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsuarios] ON 

INSERT [dbo].[tblUsuarios] ([id_usuario], [cCodUsu], [cNomUsu], [cClave], [cnudoci], [cEstado], [cNivUsu], [tModifi], [cMail], [cUser], [cRol], [cIdeUsu], [id_rol], [id_pais]) VALUES (5, N'1   ', N'Juan Perez', N'clave123                                                                                                                        ', 12345678, N'Activo', N'1', CAST(N'2024-10-29T13:19:19.027' AS DateTime), N'juan.perez@email.com', N'juanperez', N'Estudiante', N'JPEREZ', 1, 1)
INSERT [dbo].[tblUsuarios] ([id_usuario], [cCodUsu], [cNomUsu], [cClave], [cnudoci], [cEstado], [cNivUsu], [tModifi], [cMail], [cUser], [cRol], [cIdeUsu], [id_rol], [id_pais]) VALUES (6, N'2   ', N'Ana Torres', N'clave456                                                                                                                        ', 87654321, N'Activo', N'2', CAST(N'2024-10-29T13:19:19.027' AS DateTime), N'ana.torres@email.com', N'anatorres', N'Profesor', N'ATORRES', 2, 1)
INSERT [dbo].[tblUsuarios] ([id_usuario], [cCodUsu], [cNomUsu], [cClave], [cnudoci], [cEstado], [cNivUsu], [tModifi], [cMail], [cUser], [cRol], [cIdeUsu], [id_rol], [id_pais]) VALUES (7, N'1   ', N'Juan Perez', N'clave123                                                                                                                        ', 12345678, N'Activo', N'1', CAST(N'2024-10-29T13:19:49.343' AS DateTime), N'juan.perez@email.com', N'juanperez', N'Estudiante', N'JPEREZ', 1, 1)
SET IDENTITY_INSERT [dbo].[tblUsuarios] OFF
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblCalificaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblDepartamentos]  WITH CHECK ADD FOREIGN KEY([pais_id])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblDepartamentos]  WITH CHECK ADD FOREIGN KEY([pais_id])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblDepartamentos]  WITH CHECK ADD FOREIGN KEY([pais_id])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblDepartamentos]  WITH CHECK ADD FOREIGN KEY([pais_id])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblDistritos]  WITH CHECK ADD FOREIGN KEY([provincia_id])
REFERENCES [dbo].[tblProvincias] ([id])
GO
ALTER TABLE [dbo].[tblDistritos]  WITH CHECK ADD FOREIGN KEY([provincia_id])
REFERENCES [dbo].[tblProvincias] ([id])
GO
ALTER TABLE [dbo].[tblDistritos]  WITH CHECK ADD FOREIGN KEY([provincia_id])
REFERENCES [dbo].[tblProvincias] ([id])
GO
ALTER TABLE [dbo].[tblDistritos]  WITH CHECK ADD FOREIGN KEY([provincia_id])
REFERENCES [dbo].[tblProvincias] ([id])
GO
ALTER TABLE [dbo].[tblEvaluaciones]  WITH CHECK ADD FOREIGN KEY([id_modulos])
REFERENCES [dbo].[tblModulos] ([modulos_id])
GO
ALTER TABLE [dbo].[tblEvaluaciones]  WITH CHECK ADD FOREIGN KEY([id_modulos])
REFERENCES [dbo].[tblModulos] ([modulos_id])
GO
ALTER TABLE [dbo].[tblEvaluaciones]  WITH CHECK ADD FOREIGN KEY([id_modulos])
REFERENCES [dbo].[tblModulos] ([modulos_id])
GO
ALTER TABLE [dbo].[tblEvaluaciones]  WITH CHECK ADD FOREIGN KEY([id_modulos])
REFERENCES [dbo].[tblModulos] ([modulos_id])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_respuesta])
REFERENCES [dbo].[tblRespuestas] ([id_respuesta])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_respuesta])
REFERENCES [dbo].[tblRespuestas] ([id_respuesta])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_respuesta])
REFERENCES [dbo].[tblRespuestas] ([id_respuesta])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([id_respuesta])
REFERENCES [dbo].[tblRespuestas] ([id_respuesta])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblInscripciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblModulos]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblModulos]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblModulos]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblModulos]  WITH CHECK ADD FOREIGN KEY([id_curso])
REFERENCES [dbo].[tblCursos] ([id_curso])
GO
ALTER TABLE [dbo].[tblProvincias]  WITH CHECK ADD FOREIGN KEY([departamento_id])
REFERENCES [dbo].[tblDepartamentos] ([id])
GO
ALTER TABLE [dbo].[tblProvincias]  WITH CHECK ADD FOREIGN KEY([departamento_id])
REFERENCES [dbo].[tblDepartamentos] ([id])
GO
ALTER TABLE [dbo].[tblProvincias]  WITH CHECK ADD FOREIGN KEY([departamento_id])
REFERENCES [dbo].[tblDepartamentos] ([id])
GO
ALTER TABLE [dbo].[tblProvincias]  WITH CHECK ADD FOREIGN KEY([departamento_id])
REFERENCES [dbo].[tblDepartamentos] ([id])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblRespuestas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_evaluacion])
REFERENCES [dbo].[tblEvaluaciones] ([id_evaluacion])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblResultados]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tblUsuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[tblPaises] ([id])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[tblRoles] ([id_rol])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[tblRoles] ([id_rol])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[tblRoles] ([id_rol])
GO
ALTER TABLE [dbo].[tblUsuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[tblRoles] ([id_rol])
GO
